

$main-background: #090b1a;
$main-cardbackground: hsl(244, 38%, 16%);
$accent:  hsl(277, 64%, 61%);



$white:  hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stat-headings: #ffffff99;

