* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: $main-background;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

