@media screen and (max-width: 375px) {

    .container {
        display: flex;
    }
    .card {
        display: flex;
        flex-direction: column;
        max-width: 80%;
    }

    .stats {
        display: flex;
        flex-direction: column;
    }

    .stat-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.6rem;
    }
}

.cart-img-part {
    order: 1;
}